@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height:50px;
    background-color: white;
    box-shadow: 4px 4px 14px -10px rgba(0,0,0,0.75);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    
    
}
.logo-img{
    height: 40px;
    width: 40px;
}
.logo{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.logo_search{
    width:300px;
    display: flex;
    
}

.search{
    
    display: flex;
    height: 50px;
    width:200px;
    justify-content: center;
    align-items: center;
    
    
    
}

.search-bar{
    height: 35px;
    border-radius: 20px;
    padding-left: 30px;
    outline: none;
    background-color:#f0f2f5;
    border: 0px;
    
}

.search-icon{
    position: absolute;
    left: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 17px;
}


.nav-items{
    justify-content: space-between;
    display: flex;
    align-items: center;
    float:left 60px;
    width: 300px;
    
    
}
.hoverreact{
    width: 70px;
    background-color: transparent;
    border-radius: 6px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.home:hover{background-color: #cccdcf;}
.watch:hover{background-color: #cccdcf;}
.store:hover{background-color: #cccdcf;}
.groups:hover{background-color: #cccdcf;}



.nav-icons{
    font-size: 25px;
}
.main-menu{
    display: flex;
    align-items: center;
    width: 300px;
    
    float: left 200px;
    
    
    
}

.outline-menu{
    height: 30px;
    width: 30px;
    background-color:#e4e6eb;
    border-radius: 100px;
    display: flex;
    margin-left: 10px;
    
    
}

.message-noti{
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: #d60a33;
    position: absolute;
    top: 3px;
    left: 1131px;
}

.message-noti-count{
    color:white;
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 1135px;;
}
.dot-menu{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dot-menu:hover{
    background-color: #cccdcf;

}

.profilename{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}



.profile-name-text{
    font-size: 7px;
}


.avatar{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    
}
.message{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.message:hover{
    background-color: #cccdcf;
}

.notification{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.notification:hover{
    background-color: #cccdcf;
}

.drop{
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.drop:hover{
    background-color: #cccdcf;
}



.body-main{
    background-color: #f0f2f5;
    height: 4000px;
    width: 100%;
    display: flex;
}

.sideone{
    width: 20%;
    height: 100%;
    /* background-color: red; */
}

.center-feed{
    width: 60%;
    height: 1000px;
}

.sidetwo{
    width:20%;
    height: 100%;
    /* background-color: aqua; */
}

.stories-feed{
    
    height: 300px;
    width: 100%;
    display: flex;
    margin-left: 45px;
    
}

.storybase{
    height: 200px;
    width: 120px;
    background-color:white;
    border-radius: 6px;
    margin-top: 80px;
    margin-left: 10px;
    object-fit: contain;
    box-shadow:  0px 2px 6px -2px rgba(0,0,0,0.57);
}

.storyoneimg{
   clip-path: polygon(height=200px,width=120px);
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
   cursor: pointer;
   transition: transform .2s ease;
   
    
    
}

.storyoneimg:hover{
    transform: scale(1.03);
}

.storytwoimg{
    clip-path: polygon(height=200px,width=120px);
   border-radius: 6px;
   cursor: pointer;
   transition: transform .2s ease;
}

.storyimgbase{
    clip-path: polygon(height=200px,width=120px);
   border-radius: 6px;
   cursor: pointer;
   transition: transform .2s ease;
}

.storytwoimg:hover{
    transform: scale(1.03);
}

.storythreeimg:hover{
    transform: scale(1.03);
}

.storyfourimg:hover{
    transform: scale(1.03);
}

.storyfiveimg:hover{
    transform: scale(1.03);
}

.storyadd{
    position: absolute;
    left: 350px;
    top: 225px;
    cursor: pointer;
   
}

.story-add-icon{
    font-size: 40px;
    color: #217cf3;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    cursor: pointer;
   
}
.stroy-text{
    font-size: 6px;
    position: absolute;
    left: 330px;
    top: 260px;
    cursor: pointer;
    
}

.storytwo-name{
    position: absolute;
    color: white;
    top: 250px;
    font-size: 10px;
    left:450px ;
    cursor: pointer;
}

.storythree-name{
    position: absolute;
    color: white;
    top: 245px;
    font-size: 10px;
    left:580px ;
    cursor: pointer;
}

.storyfour-name{
    position: absolute;
    color: white;
    top: 245px;
    font-size: 10px;
    left:710px ;
    cursor: pointer;

}

.storyfive-name{
    position: absolute;
    color: white;
    top: 245px;
    font-size: 10px;
    left:840px ;
    cursor: pointer; 
}

.post-activity{
    height: 120px;
    width: 530px;
    background-color:white;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 20px;
    box-shadow:  0px 2px 6px -2px rgba(0,0,0,0.57);
   
}

.post-activity-first{
    width:520px;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.activity-posting{
    width: 500px;
}

.activity-posting-text{
    width: 420px;
    height: 40px;
    outline: none;
    background-color:#f0f2f5;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
}

.activity-avatar{
    width: 40px;
    padding: 15px;
}



.activity-avatar-img{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: #a1a1a1 solid 1.5px;
}

.line{
    height:0.5px;
    width:450px;
    background-color: #b9b9b9;
    margin-left: 40px;
    margin-top: 5px;
}

.post-activity-second{
    width:480px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.activity-base{
    width: 130px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;

    
}

.activity-base:hover{
    background-color: #f0f2f5f0;
}

.live{
    display: flex;
    align-items: center;
    
}

.live-icon-di{
    color: #f3425f;
    font-size: 25px;
    cursor: pointer;
}

.live-video-text-input{
    font-size: 13px;
    color: #656773;
    margin-left: 8px;
    cursor: pointer;
}

.photo{
    display: flex;
    align-items: center;
}

.photo-icon-di{
    color: #45bd62;
    font-size: 25px;
}

.feeling{
    display: flex;
    align-items: center;
}

.feeling-icon-di{
    color: #f7b928;
    font-size: 25px;
}

.create-room-line{
    width: 530px;
    height: 60px;
    background-color: white;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 20px;
    box-shadow:  0px 2px 6px -2px rgba(0,0,0,0.57);
    display: flex;
    align-items: center;

}
.create-room{
    width:135px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 18px;
    /* background-color: #217cf3; */
    padding-left: 10px;
    border: #e7f3ff 2px solid;
    cursor: pointer;
    
}
.create-room-name{
    width: 100px;
}
.create-room-icon{
    width: 30px;
}

.create-room-icon-di{
    background: #5467DB;
background: -webkit-linear-gradient(to right, #5467DB 0%, #b74cb5 100%);
background: -moz-linear-gradient(to right, #5467DB 0%, #b74cb5 100%);
background: linear-gradient(to right, #5467DB 0%, #b74cb5 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 25px;
}

.create-room-text-di{
    font-size: 14px;
    color: #216fdb;
}

.people{
    width: 300px;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}

.peopleone{
    width:40px;
}
.people-base{
    border-radius: 100px;
    cursor: pointer;
}

.online{
    width: 9px;
    position: absolute;
    height: 9px;
    background-color: #45bd62;
    border-radius: 100px;
    top: 495px;
    left: 562px;
    border: white 2px solid;
}

.post-feed{
    width:530px;
    height: 580px;
    background-color: white;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 20px;
    box-shadow:  0px 2px 6px -2px rgba(0,0,0,0.57);

}

.post-details{
    height: 35px;
    /* background-color: #217cf3; */
    padding: 15px;
    display: flex;
    
}

.post-avatar{
    width: 40px;
    height: 40px;
}

.post-details-profile-name-text{
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.post-details-status{
    margin-left: 10px;
    color: #6b6b70;
    font-weight: lighter;
    cursor: pointer;
}

.more{
  margin-left: 380px;
  font-size: 20px;
  cursor: pointer;
}

.post-images{
    height: 350px;
    cursor: pointer;
    
}

.likedpeople{
    height: 34px;
    /* background-color: #5467DB; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.likeandcommentpeople{
    width:250px ;
    height: 34px ;
    /* background-color: #b74cb5; */
    align-items: center;
    display: flex;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.like-icon{
    width: 15px;
}

.like-icon-di{
    color: #14A1F9;
}

.heart-icon-di{
    color: #d60a33;
}

.likecomeentpeoplename{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #6b6b70;
    margin-left: 5px;
}
.numcomment{
    margin-right: 10px;
    color: #6b6b70;
}
.post-actions{
    width: 400px;
    height: 40px;
    /* background-color: #d60a33; */
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    color: #6b6b70;
}

.post-action-base{
    width: 130px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
}

.like-action{
    display: flex;
    align-items: center;
}
.comment-action{
    display: flex;
    align-items: center; 
}

.write-comment-action{
    width: 500px;
    height: 40px;
    /* background-color: #216fdb; */
    margin-left: 15px;
    display: flex;
    margin-top: 10px;

}
.write-comment-line{
    height: 40px;
    width: 450px;
    margin-left: 5px;

}

.comment-online{
    width: 9px;
    position: absolute;
    height: 9px;
    background-color: #45bd62;
    border-radius: 100px;
    top: 1079px;
    left: 395px;
    border: white 2px solid;
}

.sideone-elements{
    width: 250px;
    height: 460px;
    /* background-color: #5467DB; */
    margin-top: 70px;
    padding: 12px;
    display: grid;
    position: fixed;
}


.sideone-elements-base{
    width: 220px;
    /* background-color: #216fdb; */
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
   
}
.sideone-elements-base:hover{
    background-color:#bdbdc2;
}


.side-element-avatar{
    width:35px ;
    height: 30px;

}
.side-element-avatar-img{
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.side-element-profile-name-di{
    margin-left: 5px;
    font-size: 18px;
}

.side-element-icon-base{
    width:20px ;
    height: 30px;
    font-size: 20px;
    margin-left: 5px; 
    display: flex;
    align-items: center;
    
}

.side-element-name-base{
    margin-left: 12px;
    font-size: 18px;
}

.side-element-friends-icon{
    color: #1b84f5;
}
.side-element-markicon{
    color: #19a3e3;
}

.side-element-groupicon{
    color: #197cf3;
}
.side-element-watchicon{
    color: #1e6cd2;
}
.side-element-memoriesicon{
    color: #1f99f9;
}
.side-element-adcentreicon{
    color: #2882f0;
}
.side-element-adsmanagericon{
    color: #1a83f4;
}
.side-element-bloodicon{
    color: #f01438;
}

.side-two-elements{
    width: 250px;
    height: 460px;
    /* background-color: #5467DB; */
    margin-top: 70px;
    padding: 12px;
    display: grid;
    position: fixed;
    cursor: pointer;
}

.side-two-elements-heading{
    width:250px ;
    height: 30px;
    /* background-color: #45bd62; */
    align-items: center;
    display: flex;
}

.side-two-elements-heading-text{
    width: 150px;
    color: #6b6b70;
}

.side-two-icon-base{
    width: 30px;
    cursor: pointer;
    
}
.side-two-elements-heading-icons{
    display: flex;
}

.side-two-avatar-base{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.chat-name-base{
    width: 100px;
    margin-left: 10px;
}